.nav {
    background-color: violet;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    .logo__estetica {
        width: 4em;
    }
    .nav__drop {
        background-color: #d386d3;
        .dropdown-item {
            font-size: large;
            font-weight: bold;
            border: black;
        }
    }
}